
  md-checkbox.md-checked.green .md-icon {
    background-color: rgba(0, 255, 0, 0.87);
   }

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}