
  .mat-icon-rtl-mirror{
color:#42b0d5;
background-color: white;
  }

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.counter{
  text-align: left;
  font: 20px/19px Open Sans;
  letter-spacing: 0.4px;
  color: #00243D;
  text-transform: uppercase;
  margin-right: 5px;
}
.counter-text{
  text-align: left;
  font: 14px/19px Open Sans;
  letter-spacing: 0.28px;
  color: #00243D;
  text-transform: uppercase;
  margin-right: 68px;
}
.applybutton{
  align-self: baseline;
  color: #42b0d5;
  font:16px SF Pro Display;
  border: solid #42b0d5 1px;
  opacity: 1;
}
.deletebutton{
  align-self: baseline;
  color: #42b0d5;
  font:16px SF Pro Display;
  border: solid white 1px;
  opacity: 1;
}
.filtercheckbox{
  background: #FFFFFF 0% 0% no-repeat padding-box;
//border: 1px solid #919191;
border-radius: 2px;
opacity: 1;
}
.mat-tree-node{
text-align: left;
font: Regular 14px/19px Open Sans;
letter-spacing: 0.14px;
color: #313131;
opacity: 1;
}