<mat-toolbar color="primary">
    <!-- <button mat-stroked-button (click)="applyFilter('')">Reset all Filter</button> -->
    <button mat-flat-button (click)="openDialog()" color="primary">
        <mat-icon>filter_list</mat-icon>
        Filter
    </button>
    <span id="spacer"></span>
    <!-- <span class="example-fill-remaining-space"></span> -->
    <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle value="left" aria-label="Text align left">
            <!-- <img class="toggle-icon" src="assets/img/Inventory List – equipment based/cube.svg"> -->
            <mat-icon>build</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="center" aria-label="Text align center">
            <!-- <img class="toggle-icon" src="assets/img/Inventory List – equipment based/tool.svg"> -->
            <mat-icon>build</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
    <span class="example-fill-remaining-space"></span>
    <img class="counter-icon" src="assets/img/Inventory List – equipment based/blue_icons/cube.svg">
    <span class="counter">{{containers}}</span>
    <span class="counter-text">Containers</span>
    <img class="counter-icon" src="assets/img/Inventory List – equipment based/blue_icons/basket.svg">
    <span class="counter">{{baskests}}</span>
    <span class="counter-text">Baskets</span>
    <img class="counter-icon" src="assets/img/Inventory List – equipment based/blue_icons/tool.svg">
    <span class="counter">{{items}}</span>
    <span class="counter-text">Items</span>
    <span style="width: 30px;"></span>

    <!--Test with Bootstrap-->
    <!-- <div class="input-group">
        <input class="form-control py-2 border-right-0 border" (keyup)="applyFilter($event.target.value)" type="search" value="search" >
        <span class="input-group-append">
            <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
        </span>
    </div> -->
    <!--Test with Material-->
    <!-- <mat-form-field appearance="outline">
        <input matInput id=suchfeld type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field> -->

    <form action="#">
        <input type="search" placeholder="Seach..." (keyup)="applyFilter($event.target.value)">
    </form>
</mat-toolbar>



<!--Table-->
<div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
            
        <!-- Add Checkbox Column !!-->
            
        <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header width=13% class="header"> Status </th>
                    <td mat-cell  *matCellDef="let element" class="cell">
                        <div *ngIf="element.status=='empty'"><span class="markerbuttonempty" ></span></div>
                        <div *ngIf="element.status=='backload'"><span class="markerbuttonbackload" ></span></div>
                        <div *ngIf="element.status=='inuse'"><span class="markerbuttoninuse" ></span></div>
                    </td>
            </ng-container>
        
        <!-- ID Column -->
            <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header width=13% class="header"> ID </th>
                  <td mat-cell *matCellDef="let element" class="cell"> {{element.id}} </td>
                </ng-container>
            
        <!-- Container ID Column -->
            <ng-container matColumnDef="containerID">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header width=20% class="header"> Container ID </th>
                  <td mat-cell *matCellDef="let element" class="cell"> {{element.containerID}} </td>
                </ng-container>
            
        <!-- Content Column -->
            <ng-container matColumnDef="content">
                  <th mat-header-cell *matHeaderCellDef class="header"> Content </th>
                  
            <!-- Insert embeded Angular list with items after test !!!!!-->
                  <td mat-cell *matCellDef="let element" class="cell">
                        <mat-expansion-panel  class="mat-elevation-z0">
                              <mat-expansion-panel-header>
                                    <mat-panel-description>
                                          Inventory of {{element.id}}
                                        </mat-panel-description>
                                  </mat-expansion-panel-header>
                              
                    <!--content initialisation when panel is opened-->
                              <p *ngFor="let tille of element.content"> {{tille.name}} </p>
                              
                    <!--content initialization at the beginning-->
                            </mat-expansion-panel>
                      </td>
                </ng-container>
            <ng-container matColumnDef="location">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header width=18% class="header"> Location </th>
                  <td mat-cell *matCellDef="let element" class="cell location-cell"> 
                <span>{{element.location}}</span>
                <button mat-icon-button>
                    <mat-icon class="table-location-icon" fontSet="material-icons-outlined">location_on_outlined
                    </mat-icon>
                </button> 
            </td>
                </ng-container>
            <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header width=13% class="header"> Type </th>
                  <td mat-cell *matCellDef="let element" class="cell"> {{element.type}} </td>
                </ng-container>
            <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header width=13% class="header"> Weight </th>
                  <td mat-cell *matCellDef="let element" class="cell"> {{element.weight}} </td>
                </ng-container>
            <ng-container matColumnDef="size">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header width=13% class="header"> Size </th>
                  <td mat-cell *matCellDef="let element" class="cell"> {{element.size}} </td>
                </ng-container>
            <ng-container matColumnDef="DG">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header width=13% class="header">DG </th>
                  <td mat-cell *matCellDef="let element" class="cell"> {{element.DG}} </td>
                </ng-container>
            <ng-container matColumnDef="arrival">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header width=13% class="header"> Arrival </th>
                  <td mat-cell *matCellDef="let element" class="cell"> {{element.arrival}} </td>
                </ng-container>
            <ng-container matColumnDef="sender">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header width=13% class="header"> Sender </th>
                  <td mat-cell *matCellDef="let element" class="cell"> {{element.sender}} </td>
                </ng-container>
            
        <!--Header row-->
        <!-- Add sticky: true; for sticky header-row-->
        <!--     <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          
    </table>
</div>