<div class="sidebarcontainer">
  <mat-drawer-container class="example-container" [hasBackdrop]="false">
    <mat-drawer #sidenav [mode]="mode.value" [disableClose]="true" position="end">
      <div class="icon-bar-left">
        <button mat-icon-button  class="sidebutton-left" (click)="sidenav.toggle();switchTable();">
          <mat-icon fontSet="material-icons-outlined">location_on
          </mat-icon>
        </button>
      </div>      
      <div id="mapcontainer">
        <app-map></app-map>
      </div>      
    </mat-drawer>
  
    <mat-drawer-content>
      <div class="icon-bar">
        <button mat-icon-button  class="sidebutton" (click)="sidenav.toggle();switchTable();">
          <mat-icon fontSet="material-icons-outlined">location_on
          </mat-icon>
        </button>
      </div>
      <app-table></app-table>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
<!-- <app-map></app-map> -->