<mat-toolbar class="topnav" color="primary">
  <img src="assets/img/maersk_drilling_star.png">
  <span class="spacer"></span>
  <!--Menu items-->
  <a  class="nav-menu" style="margin-left: 20px;" [routerLink]="'/home'" routerLinkActive="active">HOME
  </a>
  <span class="spacer"></span>
  <a  class="nav-menu" routerLink="inventory" routerLinkActive="active">INVENTORY
  </a>
  <span class="spacer"></span>
  <a  class="nav-menu"  routerLink="requests" routerLinkActive="active">REQUESTS
  </a>
  <span class="spacer"></span>
  <a  class="nav-menu" routerLink="backload" routerLinkActive="active">BACKLOAD
  </a>
  <span class="spacer"></span>
  <a  class="nav-menu" routerLink="loadout" routerLinkActive="active">LOADOUT
  </a>
  <span class="spacer"></span>
  <a  class="nav-menu" routerLink="sidebartest" routerLinkActive="active">testpage
  </a>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span>
    <h1 id="name">Craig Reid</h1>
    <h2 id="title">Logistic Manager</h2>
  </span>
</mat-toolbar>