.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  };
  .mat-toolbar.mat-primary {
    background: rgb(0, 36, 61);
    color: white;
}
button:focus {
  outline: none;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}