.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
  background: rgb(0, 36, 61);
  color: white;
  height: 87px;
}
mat-button {
  width: 163px;
  height: 24px;
  text-align: left;
  font: Regular 24px/33px Open Sans;
  letter-spacing: 0.96px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
// Underline navbar item when active
.topnav a.active {
  border-bottom: 5px solid #42b0d5;
  margin-top: 25px;
  padding-bottom: 56px;
  text-align: center
}
// remove default click outline border
*:focus {
  outline: 0 !important;
}
// remove default underline when active
a:hover{
  text-decoration: none;
}
.spacer {
  width: 75px;
}
.nav-menu {
  width: max-content;
  height: 33px;
  text-align: left;
  font: 24px Open Sans;
  letter-spacing: 0.96px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
#name {
  width: 108px;
  height: 26px;
  text-align: left;
  font: 20px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#title {
  width: 157px;
  height: 17px;
  text-align: left;
  font: 14px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
