 
  #map {
    height: 840px;
    width: 930px;
  }
  .marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #c30b82;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
  }
  // to draw white circle
  .marker-pin::after {
      content: '';
      width: 24px;
      height: 24px;
      margin: 3px 0 0 3px;
      background: #fff;
      position: absolute;
      border-radius: 50%;
   }
  // to align icon
  .custom-div-icon i {
     position: absolute;
     width: 22px;
     font-size: 22px;
     left: 0;
     right: 0;
     margin: 10px auto;
     text-align: center;
  }
  //Zoom Buttons color
  ::ng-deep .leaflet-bar a{
    color: white !important;
    background-color: #42B0D5 !important;
  }
  // Remove Zoom Buttons shadow
  ::ng-deep .leaflet-bar {
    // color: white !important;
    // background-color: #42B0D5 !important;
    box-shadow: unset;
  }
  // Easy button style
  ::ng-deep  .easy-button-button{
    border-radius: 4px;
    border: solid 0px transparent; 
    background-color: #42B0D5;
  }
  ::ng-deep .material-icons {
    color: white;
  }

  .widget-code {
    display: block;
    height: 18px;
    left: 6px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 6px;
    width: 18px;
}
::ng-deep .easy-button-container {
  left: 885px;
  //left: 2320%;
  top: 60px;

}
::ng-deep .easy-button-button{
  width: 26px;
  height: 26px;
}

  
