<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Name status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">Status</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.status=='empty'">
          <div matTooltip="{{row.status}}"><span class="markerbuttonempty"></span></div>
        </div>
        <div *ngIf="row.status=='backload'">
          <div matTooltip="{{row.status}}"><span class="markerbuttonbackload"></span></div>
        </div>
        <div *ngIf="row.status=='in use'">
          <div matTooltip="{{row.status}}"><span class="markerbuttoninuse"></span></div>
        </div>
      </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- item Column -->
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">Item</th>
      <td mat-cell *matCellDef="let row">{{row.item}}</td>
    </ng-container>

    <!-- number Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">Number</th>
      <td mat-cell *matCellDef="let row">{{row.number}}</td>
    </ng-container>

    <!-- location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">Location</th>
      <td mat-cell *matCellDef="let row">
        <span>{{row.location}}</span>
        <button mat-icon-button>
          <mat-icon class="table-location-icon" fontSet="material-icons-outlined">location_on_outlined
          </mat-icon>
        </button> 
      </td>
    </ng-container>

    <!-- containerID Column -->
    <ng-container matColumnDef="containerID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">Container ID</th>
      <td mat-cell *matCellDef="let row">{{row.containerID}}</td>
    </ng-container>

    <!-- weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">Weight</th>
      <td mat-cell *matCellDef="let row">{{row.weight}}</td>
    </ng-container>

    <!-- dg Column -->
    <ng-container matColumnDef="dg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">DG</th>
      <td mat-cell *matCellDef="let row">{{row.dg}}</td>
    </ng-container>

    <!-- arrival Column -->
    <ng-container matColumnDef="arrival">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">Arrival</th>
      <td mat-cell *matCellDef="let row">{{row.arrival}}</td>
    </ng-container>

    <!-- sender Column -->
    <ng-container matColumnDef="sender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">Sender</th>
      <td mat-cell *matCellDef="let row">{{row.sender}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>