<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MQTT-log
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MQTT-log</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="margin: 20px;">
    <table>
      <tr>
        <td>Topic: </td>
        <td><input [(ngModel)]="topicname" type="text" /></td>
        <td><button type="button" (click)="subscribeNewTopic()">Subscribe Topic</button></td>
      </tr>
      <tr>
        <td>Message: </td>
        <td><input [(ngModel)]="msg" type="text" /></td>
        <td><button type="button" (click)="sendmsg()">Send</button></td>
      </tr>
      <tr>
        <td></td>
        <td>&nbsp;&nbsp;<button type="button" (click)="clear()">Clear Log</button></td>
        <td></td>
      </tr>
    </table>
    <br /><br />
    <div #msglog>
    </div>
  </div>

</ion-content>