/*************************************Table****************************************************/
.full-width-table {
  width: 100%;
}
// Height for each row
.mat-row {
  height: 90px;
}
//Remove box-shadow
.mat-elevation-z8 {
  box-shadow: unset;
}
// Style of the header row
.header {
  color: #00243d;
  font: 18px Open Sans;
  text-align: left;
  border-bottom: 2px solid #292d5a;
  height: 46px;
}
// Style of each table cell
.cell {
  text-align: left;
  font: 16px Roboto;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
  vertical-align: text-top;
  border: 0px;
  // padding-top: 18px;
}
// Style for content row list items
.content-element{
  text-align: left;
  font: 14px/20px Roboto;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-inline-start: 0px;
}

// Red circles from the status cell
.markerbuttonbackload {
  border-radius: 50%;
  display: inline-block;
  border: solid 1px;
  width: 16px;
  height: 16px;
  background: #f9381c40 0% 0% no-repeat padding-box;
  border: 2px solid #f9381c;
  opacity: 1;
  margin-left: 25%;
  margin-right: 25%;
}
// Green circles from the status cell- in use
.markerbuttoninuse {
  border-radius: 50%;
  display: inline-block;
  border: solid 1px;
  width: 16px;
  height: 16px;
  background: #a3bf0040 0% 0% no-repeat padding-box;
  border: 2px solid #a3bf00;
  opacity: 1;
  margin-left: 25%;
  margin-right: 25%;
}
// organge circles from the status cell
.markerbuttonempty {
  border-radius: 50%;
  display: inline-block;
  border: solid 1px;
  width: 16px;
  height: 16px;
  background: #ffa20140;
  border: 2px solid #ffa201;
  opacity: 1;
  margin-left: 25%;
  margin-right: 25%;
}
// Style of the button in the location cell 
.table-location-icon {
  color: #42b0d5;
  width: 20px;
  height: 20px;
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-bottom: 8px;  
}
// remove default click outline border
*:focus {
  outline: 0 !important;
}
// Every 2th row has grey background
.mat-row:nth-child(odd) {
  background-color: #F2F2F299  ;
}
// Content cell collapsible text
.more {display: none;}

// Remmove box shadow from table
::ng-deep mat-expansion-panel {
  box-shadow: unset !important;
}


/************************Filter toolbar style*******************************/
.mat-toolbar.mat-primary {
  background: white;
  margin-top: 87px;
  height: 121px !important;
}
.mat-flat-button.mat-primary {
  background: #42b0d5;
}
.mat-flat-button {
  left: 69px;
  width: 94px;
  height: 36px;
  background: #42b0d5 0% 0% no-repeat padding-box;
  border: 1px solid #42b0d5;
  border-radius: 2px;
  box-shadow: 0px 2px 2px #0000003D;
  opacity: 1;
}
#spacer {
  width: 90px;
}
.input-group {
  width: 285px;
  height: 36px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #42b0d5;
  box-shadow: 0px 2px 2px #0000003D;
  border-radius: 2px;
  opacity: 1;
}
mat-button-toggle-group {
  border: 1px solid #42b0d5;
  border-radius: 2px;
  opacity: 1;
  // width: 71px;
  // height: 36px;
  line-height: 36px;
}
// Needed for toggle-button!!
::ng-deep .mat-button-toggle-label-content {
  line-height: 36px !important;
}
.mat-button-toggle-checked {
  background-color: mat-color(#42b0d5);
  color: mat-color(#42b0d5, default-contrast);
}
/* Toolbar Counters*/
.counter {
  text-align: left;
  font: 20px/19px Open Sans;
  letter-spacing: 0.4px;
  color: #00243d;
  text-transform: uppercase;
  margin-right: 5px;
}
.counter-text {
  text-align: left;
  font: 14px/19px Open Sans;
  letter-spacing: 0.28px;
  color: #00243d;
  text-transform: uppercase;
  margin-right: 68px;
}
.counter-icon {
  color: #42b0d5;
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
/* Toolbar Search*/

form {
  //width: 600px;
  margin: 100px auto;
  margin-right: 30px;
  height: 36px;
}

input[type="search"] {
  font-size: 16px;
  padding: 0px 20px 0px 40px;
  outline: none;
  border: solid #42b0d5 2px;
  background: url("src/assets/img/Inventory List – equipment based/lens.svg") 7px center no-repeat;
}
/* Font color */
input.mat-input-element {
  color: #42b0d5;
  background-color: white;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
mat-button-toggle.mat-button-toggle-checked,
mat-button-toggle.cdk-focused,
mat-button-toggle.cdk-mouse-focused {
  background: #42b0d5;
}
mat-icon {
  color: white;
}
//Font color for search field
::placeholder {
  color: #42b0d5;
}
// Remove blue x on webkit browser
#Search::-webkit-search-cancel-button{

  -webkit-appearance: none;
}

//Test for list style
.nobull{
  list-style-type: none;
}
//moved paginator menu to the left
mat-paginator.mat-paginator {
  display: flex;
  justify-content: left;
} 