
  .mat-icon-rtl-mirror{
color:#42b0d5;
background-color: white;

  }

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}
.example-tree-invisible {
  display: none;
}
.example-tree-two-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  //width:200px;
}
.example-tree-two ul,
.example-tree-two li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  //width:200px;

}

.example-tree{
  position: relative;
  top:20px;
  right:-50px;
}
.example-tree-two{
  position: relative;
   right:-250px;
   top:-167px;
}

.counter{
  text-align: left;
  font: 20px/19px Open Sans;
  letter-spacing: 0.4px;
  color: #00243D;
  text-transform: uppercase;
  margin-right: 5px;
}
.counter-text{
  text-align: left;
  font: 14px/19px Open Sans;
  letter-spacing: 0.28px;
  color: #00243D;
  text-transform: uppercase;
  margin-right: 68px;
}
.applybutton{
  align-self: baseline;
  color: #42b0d5;
  font:16px SF Pro Display;
  border: solid #42b0d5 1px;
  opacity: 1;
}
.deletebutton{
  align-self: baseline;
  color: #42b0d5;
  font:16px SF Pro Display;
  border: solid white 1px;
  opacity: 1;
}
.filtercheckbox{
  top: 280px;
//left: 500px;
width: 24px;
height: 17px;
text-align: left;
font: Semibold 14px Open Sans;
letter-spacing: 0.14px;
opacity: 1;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color:#919191;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #42b0d5 !important;
}


.mat-tree-node{
  top: 337px;
  left: 383px;
  width: 174px;
  height: 33px;
  text-align: left;
  font: Regular 14px/19px Open Sans;
  letter-spacing: 0.28px;
  color: #313131;
  text-transform: uppercase;
  opacity: 1;
}

.mat-tree-node-two{
  top: 337px;
  left: 383px;
  width: 174px;
  height: 33px;
  text-align: left;
  font: Regular 14px/19px Open Sans;
  letter-spacing: 0.28px;
  color: #313131;
  text-transform: uppercase;
  opacity: 1;
}



.actionsdialog{
  position: relative;
  bottom:80px;
  right: 50px;
}



::ng-deep.dialogfenster{
  overflow: hidden;
}