<div class="sidebarcontainer">
  <mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav [mode]="mode.value" position="end">
      <div class="icon-bar-left">
        <button mat-icon-button  class="sidebutton-left" (click)="sidenav.toggle()">
          <mat-icon fontSet="material-icons-outlined">location_on
          </mat-icon>
        </button>
      </div>      
      <div id="mapcontainer">
        <app-map></app-map>
      </div>      
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="icon-bar">
        <button mat-icon-button  class="sidebutton" (click)="sidenav.toggle()">
          <mat-icon fontSet="material-icons-outlined">location_on
          </mat-icon>
        </button>
      </div>
      <app-table></app-table>
      <!-- <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- <app-map></app-map> -->