/* Styles for the right sticky sidebutton*/
.button {
  top: 93px;
  left: 1905px;
  width: 16px;
  height: 987px;
  background: #42b0d5 0% 0% no-repeat padding-box;
  border-radius: 45px 0px 0px 45px;
  opacity: 1;
}

.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
}
.sidebutton {
  width: 24px;
  height: 890px;
  background: #42b0d5 0% 0% no-repeat padding-box;
  border-radius: 45px 0px 0px 45px;
  opacity: 1;
}
.sidebutton {
  color: white;
}

/* Styles for the left sticky sidebutton*/
.button-left {
  top: 93px;
  left: 1905px;
  width: 16px;
  height: 987px;
  background: #42b0d5 0% 0% no-repeat padding-box;
  border-radius: 45px 0px 0px 45px;
  opacity: 1;
}

.icon-bar-left {
  position: fixed;
  top: 50%;
  right: 1050px;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
}
.sidebutton-left {
  width: 24px;
  height: 890px;
  background: #42b0d5 0% 0% no-repeat padding-box;
  border-radius: 45px 0px 0px 45px;
  opacity: 1;
}
.sidebutton-left {
  color: white;
}


// .content {
//   height: 300px;
//   width: 300px;
//   background-color: #42b0d5;
// }

/* Styles for sidebar content */
#mapcontainer {
  //margin: 20px;
  width: 100%;
  height: 100%;
}

// Remove background from overlay
::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent !important;
}
// Change style of sidenav container
::ng-deep .mat-drawer-inner-container {
  background-color: #C3ECFF33 !important;
  padding: 25px
}