<!--Toolbar with it's content-->
<mat-toolbar color="primary">
  <button mat-flat-button color="primary">
    <img style="width: 20px; height: 20px; padding-right: 5px;" class="counter-icon"
      src="assets/img/Inventory List – equipment based/filter.svg">
    <span style="font: 19px Open Sans;">Filter</span>
  </button>
  <span id="spacer"></span>
  <form action="#">
    <input type="search" placeholder="Search..." (keyup)="applyFilter($event)">
  </form>
  <span style="width: 210px;"></span>
  <span class="button-label">Areas</span>
  <span style="width: 15px;"></span>
  <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
  </mat-slide-toggle>
</mat-toolbar>

<!--Table with it's content-->
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>
    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.status=='empty'">
          <div matTooltip="{{row.status}}"><span class="markerbuttonempty"></span></div>
        </div>
        <div *ngIf="row.status=='backload'">
          <div matTooltip="{{row.status}}"><span class="markerbuttonbackload"></span></div>
        </div>
        <div *ngIf="row.status=='in use'">
          <div matTooltip="{{row.status}}"><span class="markerbuttoninuse"></span></div>
        </div>
      </td>
    </ng-container>
    <!-- containerID Column -->
    <ng-container matColumnDef="containerID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Container ID</th>
      <td mat-cell *matCellDef="let row">{{row.containerID}}</td>
    </ng-container>
    <!-- content Column -->
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Content</th>
      <td mat-cell *matCellDef="let row">{{row.content}}</td>
    </ng-container>
    <!-- location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let row">
        <span>{{row.location}}</span>
        <button mat-icon-button>
            <mat-icon class="table-location-icon" fontSet="material-icons-outlined">location_on_outlined
            </mat-icon>
        </button> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>