/******************** Toolbar *************************/
.mat-toolbar.mat-primary {
  background: white;
  height: 121px;
}
.mat-flat-button.mat-primary {
  background: #42b0d5;
}

.mat-flat-button {
  left: 69px;
  width: 94px;
  height: 36px;
  background: #42b0d5 0% 0% no-repeat padding-box;
  border: 1px solid #42b0d5;
  box-shadow: 0px 2px 2px #0000003D;
  border-radius: 2px;
  opacity: 1;
}
#spacer {
  width: 90px;
}

// Toolbar Search
form {
  //width: 600px;
  //margin: 100px;
  margin-right: 30px;
  height: 36px;
}

input[type="search"] {
  font-size: 16px;
  padding: 0px 20px 0px 40px;
  outline: none;
  border: solid #42b0d5 2px;
  background: url("src/assets/img/Inventory List – equipment based/lens.svg") 7px center no-repeat;
}
/* Font color */
input.mat-input-element {
  color: #42b0d5;
  background-color: white;
}
::placeholder {
  color: #42b0d5;
  text-align: left;
  font: 14px/19px Open Sans;
  letter-spacing: 0.28px;
  color: #42B0D5;
  text-transform: uppercase;
  opacity: 1;
}
// remove default click outline border
*:focus {
  outline: 0 !important;
}
.button-label{
  width: 43px;
  height: 19px;
  text-align: left;
  font:  14px/19px Open Sans;
  letter-spacing: 0.28px;
  color: #00243D;
  text-transform: uppercase;
  opacity: 1;
  margin-left: 14px;
}
// Remove blue x on webkit browser
#Search::-webkit-search-cancel-button{

  -webkit-appearance: none;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #42B0D555;
  opacity: 1;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #42B0D5;
  opacity: 1;
}


/***************** Table *****************************/
.full-width-table {
  width: 850px;
}
.table-location-icon {
  color: #42b0d5;
  width: 20px;
  height: 20px;
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-bottom: 8px;
}
/* Circles from the status cell*/

.markerbuttonempty {
  border-radius: 50%;
  display: inline-block;
  border: solid 1px;
  width: 16px;
  height: 16px;
  background: #f9381c40 0% 0% no-repeat padding-box;
  border: 2px solid #f9381c;
  opacity: 1;
}
.markerbuttoninuse {
  border-radius: 50%;
  display: inline-block;
  border: solid 1px;
  width: 16px;
  height: 16px;
  background: #a3bf0040 0% 0% no-repeat padding-box;
  border: 2px solid #a3bf00;
  opacity: 1;
}
.markerbuttonbackload {
  border-radius: 50%;
  display: inline-block;
  border: solid 1px;
  width: 16px;
  height: 16px;
  background: #ffa20140;
  border: 2px solid #ffa201;
  opacity: 1;
}

/*************************************Table****************************************************/
// Height for each row
.mat-row {
  height: 90px;
}
//Remove box-shadow
.mat-elevation-z8 {
  box-shadow: unset;
}
// Style of the header row
.header {
  color: #00243d;
  font: 18px Open Sans;
  text-align: left;
  border-bottom: 2px solid #292d5a;
  height: 46px;
}
// Style of each table cell
.cell {
  text-align: left;
  font: 16px Roboto;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
  border: 0px;
  vertical-align: text-top;
  // padding-top: 18px;
}
// Style for content row list items
.content-element{
  text-align: left;
  font: Regular 14px/20px Roboto;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
  margin-top: 4px;
  margin-bottom: 4px;
}

// Red circles from the status cell
.markerbuttonempty {
  border-radius: 50%;
  display: inline-block;
  border: solid 1px;
  width: 16px;
  height: 16px;
  background: #f9381c40 0% 0% no-repeat padding-box;
  border: 2px solid #f9381c;
  opacity: 1;
  margin-left: 25%;
  margin-right: 25%;
}
// Green circles from the status cell
.markerbuttoninuse {
  border-radius: 50%;
  display: inline-block;
  border: solid 1px;
  width: 16px;
  height: 16px;
  background: #a3bf0040 0% 0% no-repeat padding-box;
  border: 2px solid #a3bf00;
  opacity: 1;
  margin-left: 25%;
  margin-right: 25%;
}
// organge circles from the status cell
.markerbuttonbackload {
  border-radius: 50%;
  display: inline-block;
  border: solid 1px;
  width: 16px;
  height: 16px;
  background: #ffa20140;
  border: 2px solid #ffa201;
  opacity: 1;
  margin-left: 25%;
  margin-right: 25%;
}
// Style of the button in the location cell 
.table-location-icon {
  color: #42b0d5;
  width: 20px;
  height: 20px;
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-bottom: 8px;  
}
// remove default click outline border
*:focus {
  outline: 0 !important;
}
// Every 2th row has grey background
.mat-row:nth-child(odd) {
  background-color: #F2F2F299  ;
}
// Content cell collapsible text
.more {display: none;}

// Remmove box shadow from table
::ng-deep mat-expansion-panel {
  box-shadow: unset !important;
}
